/* Responsive Styles */

/* Für Tablets & kleine Laptops */
@media (max-width:1199.5px){
    /* Cards */
    .card{
        padding: 2.5rem 1.875rem;
    }

    /* Header */
    .header-wrapper .navbar-nav .nav-link{
        font-size: 1rem;
    }

    /* Banner */
    .banner-wrapper .animate-img .aimg1{
        left: -3.125rem;
    }

    /* About Section */
    .about-wrapper .card{
        width: 100%;
    }
    .about-wrapper .about-animate{
        left: .9375rem;
    }

    /* Services */
    .services-wrapper .card{
        padding: 1.875rem 1.25rem;
    }
}

/* Für Smartphones */
@media (max-width:767px){
    /* Headings & Text */
    h1 { font-size: 2.5rem; margin-bottom: 2rem; }
    h2 { font-size: 1rem; }
    h3 { font-size: 1.5rem; }
    h4 { font-size: 1.125rem; }
    h5 { font-size: 1.125rem; }
    p  { font-size: 0.875rem; line-height: 1.35rem; }

    /* Wrapper & Buttons */
    .wrapper { padding: 3rem 1rem; }
    .main-btn { font-size: 0.875rem; padding: 0.5rem 1rem; }

    /* Cards */
    .card { padding: 1.5rem 1rem; text-align: center; }

    /* Navbar */
    .header-scrolled { height: auto; }
    .header-wrapper .menu-navbar-nav { text-align: center; }
    .header-wrapper .nav-item .nav-link { margin-top: .9375rem; }

    /* Banner */
    .banner-wrapper p { max-width: 100%; }

    /* About Section */
    .about-wrapper .card { flex-direction: column; width: 100%; }
    .about-wrapper .about-clinic {
        width: 100%;
        margin-bottom: 1.5rem;
        padding-left: 0;
    }
    .about-wrapper .about-animate { left: 0; }

    /* Services */
    .services-wrapper .card { padding: 1.5rem 1rem; text-align: center; }
    .services-wrapper .icon-box { margin-bottom: 1rem; }

    /* Blog */
    .blog-wrapper .card { text-align: center; }
    .blog-wrapper .card .blog-content { padding: 1.5rem 1rem; margin: 0; }

    /* Testimonial */
    .testimonial-wrapper .carousel-inner .carousel-item { text-align: center; }
    .testimonial-wrapper .carousel-inner .carousel-item .custom { margin-right: 0; }
    .testimonial-wrapper .card { margin-left: 0; }

    /* Appointment */
    .appointment-wrapper h3 { max-width: 80%; }

    /* Footer */
    .footer-wrapper>div { padding: 0 1rem; }
    .footer-wrapper { padding-bottom: 0; }
}

/* Für kleine Handys */
@media (max-width:360px){
    /* Services */
    .services-wrapper .icon-box { margin-bottom: .9375rem; }

    /* About Section */
    .about-wrapper .about-animate { width: 6.875rem; }
    .about-wrapper .card { padding: 1.25rem .3125rem; }
    .about-wrapper .about-clinic:nth-child(2),
    .about-wrapper .about-clinic:nth-child(4) { padding-left: .625rem; }
}
